html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: rgb(203, 203, 203);
  font-family: 'Noto Sans', sans-serif;
  word-break: break-word;
}