.buttons__button {
    border: none;
    background: none;
    cursor: pointer;
    color: teal;
    font-size: medium;
    transition: 0.5s;
}

.buttons__button:hover {
    color: rgb(23, 166, 166);
}

.buttons__button:disabled {
    color: lightgray;
    cursor: auto;
}