.buttons {
    border: none;
    background: none;
    cursor: pointer;
    color: teal;
    font-size: medium;
    transition: 0.5s;
}

.buttons:hover {
    color: rgb(23, 166, 166);
}

.buttons:disabled {
    color: lightgray;
    cursor: auto;
}

@media (max-width: 767px) {
 
    .buttons {
        display: grid;
        margin: 10px auto;
        grid-template-columns: auto;   
    }
}