.buttons {
    border: none;
    background: none;
    cursor: pointer;
    color: teal;
    font-size: medium;
    transition: 0.5s;
}

.buttons:hover {
    color: rgb(23, 166, 166);
}

.buttons:disabled {
    color: lightgray;
    cursor: auto;
}

@media(max-width:767px) {
 
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
        padding: 7px;
    }
}